Flask==0.12.2
pyjwt==1.5.2
flask-cors==3.0.3
google-auth==1.0.2
requests==2.20.0
requests-toolbelt==0.8.0

# Reqirements inheritted from Google Firebase examples
# TODO: Work out what the Mimas requirements actually are
# and fix this file up properly

numpy==1.8.0
