<!DOCTYPE html>
<html lang="en">
{% include "scaffold/incbootstrap.html" %}

<head>
    <meta charset="UTF-8">
    <title>Conference schedule</title>
</head>

<script language="JavaScript">
{% include "scaffold/enablers.js" %}

function setDay() {
	window.location = "/schedulepage?day="+document.getElementById("daysListId").value
}

</script>

<body>
<div class="container-fluid">
<form method="post">
    <h1>Conference schedule</h1>
    	{% include "scaffold/topmenu.html" %}
    <hr/>
    <a href="scheduleconfigpage">Schedule configuration</a>
    <p/>
    <select id="daysListId" name="daysList" onchange="setDay()">
        <option value="None"/>
		{% for d in sched.day_names(): %}
			<option name="{{d}}" value="{{d}}"
				{% if d==selectedDay: %} selected {% endif %}
            >{{d}}</option>
		{% endfor %}
	</select>

    <p/>
    {% if selectedDay: %}
    <table>
        <tr><th>Start time</th>
        <th>End time</th>
        {% for t in sched.tracks(selectedDay): %}
            <th>{{t}}</th>
        {% endfor %}</tr>
        {% for slot in sched.slots(selectedDay): %}
            <tr>
                <td>{{slot.start_time}}</td>
                <td>{{slot.end_time}}</td>
                {% for t in sched.tracks(selectedDay): %}
                    <td>...</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <p/>TODO
    1. Show schedule
    <p/>2. List talks ---> Steal from showall pages
    <p/>3. Use radio buttons to assign talk to slot
    {% endif %} <!-- selected day -->

    <input type="hidden" name="sched_key" value="{{sched.key.urlsafe()}}"/>
</form>
</div>

</body>
</html>