<!DOCTYPE html>
<html lang="en">
{% include "scaffold/incbootstrap.html" %}

<head>
    <meta charset="UTF-8">
    <title>Conference schedule configuration</title>
</head>

<script language="JavaScript">
{% include "scaffold/enablers.js" %}

function setDay() {
	window.location = "/scheduleconfigpage?day="+document.getElementById("daysListId").value
}
</script>

<body>
<div class="container-fluid">
<form method="post">
    <h1>Conference schedule configuration</h1>
    	{% include "scaffold/topmenu.html" %}
    <hr/>
    <a href="schedulepage">Back to schedule</a>

    <h3>Conference days</h3>
    <select id="daysListId" name="daysList" onchange="setDay()">
        <option value="None"/>
		{% for d in sched.day_names(): %}
			<option name="{{d}}" value="{{d}}"
				{% if d==selectedDay: %} selected {% endif %}
            >{{d}}</option>
		{% endfor %}
	</select>

    <p/>
    <input type="text" maxlength="16" name="newDay" id="newDayId" onchange='enable_box("newDayId","submitNewDayId")'>
    <input type="submit" name="submitNewDay" id="submitNewDayId" disabled>
    <p/>
    <input type="submit" name="deleteDay" value="Delete this day"/>

    {% if selectedDay: %}
        <hr/>
        <h3>Tracks</h3>
        {% for t in sched.tracks(selectedDay): %}
            <p/>
            <input type="checkbox" name="trackCheck" value="{{t}}">{{t}}
        {% endfor %}
        <p/>
        <input type="text" maxlength="32" name="newTrack" id="newTrackId" onchange='enable_box("newTrackId","submitNewTrackId")'>
        <input type="submit" name="submitNewTrack" id="submitNewTrackId" disabled>
        <p/>
        <input type="submit" name="deleteTrack" value="Delete selected tracks"/>

        <hr/>
        <h3>Slots</h3>
        <table border="1">
            <tr>
                <th></th>
                <th>Start time</th>
                <th>End time</th>
                <th>Audience type</th>
            </tr>
            {% for s in sched.slots(selectedDay): %}
                <tr>
                <td><input type="checkbox" name="slotCheck" value="{{s.start_time}}"></td>
                <td>{{s.start_time}}</td>
                <td>{{s.end_time}}</td>
                <td>{{s.slot_type}}</td>
                </tr>
            {% endfor %}
        </table>
        <p/>
        <input type="submit" name="deleteSlot" value="Delete selected slots"/>
        <p/><b>Add new slot</b>
        <p/><label>Start time:</label><input type="text" maxlength="10" name="newSlotStart" id="newSlotStartId">
        <p/><label>End time:</label><input type="text" maxlength="10" name="newSlotEnd" id="newSlotEndId">
        <p/><label>Audience type:</label>
        <input type="radio" name="audiencetype" value="Tracks" checked>Tracks
        <input type="radio" name="audiencetype" value="Plenary">Plenary
        <p/><input type="submit" name="submitNewSlot" id="submitNewSlotId">
        <p/>


    {% endif %} <!-- selectedDay -->

    <input type="hidden" name="sched_key" value="{{sched.key.urlsafe()}}"/>
</form>
</div>
</body>
</html>